<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PubSubService2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
            switchValue="Information, ActivityTracing"
              >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
                initializeData= "C:\temp\WCFDiagnosticsExample.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
  <system.serviceModel>
    <!--<diagnostics>
        <messageLogging
              logEntireMessage="true"
              logMalformedMessages="true"
              logMessagesAtServiceLevel="true"
              logMessagesAtTransportLevel="true"
              maxMessagesToLog="3000"       />
      </diagnostics>-->
    <services>
      <service behaviorConfiguration="behavior_IPubSubService"
               name="PubSubService2.PubSubService">
        <endpoint address="net.tcp://localhost/PubSubServiceTcp"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IPubSubService"
                  contract="PubSubService2.IPubSubService"/>
        <!--<endpoint address="net.tcp://localhost/PubSubServiceMex"
                binding="mexTcpBinding"
                contract="IMetadataExchange" />-->
        <endpoint address="http://localhost/PubSubServiceMex"
                binding="mexHttpBinding"
                contract="IMetadataExchange" />

        <endpoint address="net.pipe://localhost/PubSubServicePipe"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="NetPipeBinding_IPubSubService"
                  contract="PubSubService2.IPubSubService"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPubSubService"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"/>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="NetPipeBinding_IPubSubService"
                 maxBufferSize="2147483647"
                  maxBufferPoolSize="2147483647"
                  maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="forProxyGenerationOnly">
          <serviceMetadata/>
        </behavior>
        <behavior name="behavior_IPubSubService">
          <serviceMetadata httpGetUrl="http://localhost/PubSubServiceMex"
                           httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--<serviceDebug includeExceptionDetailInFaults="true"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <userSettings>
    <PubSubService2.Properties.Settings>
      <setting name="PublishAsync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WritePublicationsToConsole" serializeAs="String">
        <value>False</value>
      </setting>
    </PubSubService2.Properties.Settings>
  </userSettings>
</configuration>
